<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DO_AN.Properties.Settings.QL_KHACHSANConnectionString" connectionString="Data Source=DESKTOP-1RP7O2E\SQLEXPRESS;Initial Catalog=QL_KHACHSAN;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup  useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
